body{
    font-family: sans-serif;
    margin: 0;
    background-color: gray;
}
header{
    background-color: white;
    text-align: center;
    padding: 30px 2px;
    color: blue;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline-block;
    margin: 2px 10px;
    color: blue;
}
nav a{
    color: blue;
    text-decoration: none;
    padding: 10px 15px;
}
nav a:hover{
    background-color: darkred;
    border-radius: 12px;
}
main{
    padding: 20px;
}
#profile{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
#about{
    background-color: cyan;
    padding: 20px;
    border: lightgrey solid 2px;
    border-radius: 8px;
    box-shadow: 0 0 5px pink;
    margin-bottom: 20px;
}
h2{
    color: blue;
}
#projects-container{
    display: flex;
    gap: 15px;
    padding: 20px 15px;
}
.projo{
    background-color: gray;
    padding: 15px;
    border: white solid 2px;
    border-radius: 8px;
    box-shadow: 0 0 5px;
    text-align: center;
    flex: 200px;
}
#contact{
   background-color: cyan;
    padding: 20px;
    border: lightgrey solid 2px;
    border-radius: 8px;
    box-shadow: 0 0 5px pink;
    margin-bottom: 20px;
    text-align: center;
}
h3{
    color: blue;
}
.contact-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0px auto;
    gap: 15px;
}
.contact-form label{
    font-weight: bold;
    color: blue;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    border: 1px powderblue solid;
    border-radius: 5px;
}
.contact-form button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: larger;
    cursor: pointer;
}
footer{
      background-color: white;
    text-align: center;
    padding: 30px 2px;
    color: blue;
    margin-top: 20px;
}

